* {
  margin:0; padding:0;
}
header {
  height: 60px;
  width: 100%;
  padding: 5px 0;
  background-color: #0000cd;
  color: white;
}
header .headline{
    line-height: 60px;
    float: left;
    font-size: 25px;
    margin-left: 80px;
}
.nav-list {
    line-height: 60px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.game {
  height: 30px;
  width: 100%;
}

p.sample1 img {
    border-radius: 15px; /* ちょっとだけ角丸 */
}



.box29 {
    margin: 2em 0;
    background: #f0e68c;
}
.box29 .box-title {
    font-size: 1.2em;
    background: #0000cd;
    padding: 6px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box29 p {
    padding: 15px 20px;
    margin: 0;
}

.box28 {
    position: relative;
    margin: 2em 0;
    padding: 25px 10px 7px;
    border: solid 2px #FFC107;
}
.box28 .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}
.box28 p {
    margin: 0; 
    padding: 0;
}
