* {
  margin:0; padding:0;
}
header {
  height: 60px;
  width: 100%;
  padding: 5px 0;
  background-color: #337079;
  color: white;
}
header .headline{
    line-height: 60px;
    float: left;
    font-size: 25px;
    margin-left: 80px;
}
.nav-list {
    line-height: 60px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.game {
  height: 30px;
  width: 100%;
}

p.sample1 img {
    border-radius: 15px; /* ちょっとだけ角丸 */
}

.image-slider {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px; /* 画像が3行に分かれるように高さを指定 */
}

.slide-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.slide {
  flex: 1 0 33.33%; /* 1行に3つ表示するように */
  max-width: 33.33%; /* 1行に3つ表示するように */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
